{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Yoube</title>
    </head>
    <body>
        <div class="banner">
            <h1>Yoube</h1>
        </div>
        <div class="channels-list">
            {% for chid, chobj in channels.items %}
                <div class="channel">
                    {% comment %} <a href="/channel/{{ chid }}/">{{ chobj.name }}</a>cc {% endcomment %}
                    <a href="{% url 'channel' chid %}">{{ chobj.name }}</a>
                </div>
            {% endfor %}
        </div>
    </body>
    <script src="{% static 'interface/frontend/index.js' %}"></script>
</html>
