<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ video.feed_attrs.title }}</title>
    </head>
    <body>
        <div class="banner">
            <h1>
                <a href="{% url 'index' %}">Yoube</a>
            </h1>
        </div>
        <div class="title-area">
            <div class="title">
                <h4>
                    {{ video.feed_attrs.title }}
                </h5>
            </div>
        </div>
        <div class="video">
            <iframe allow="fullscreen;"
                    width="1000"
                    height="562.5"
                    src="https://www.youtube.com/embed/{{ video.feed_attrs.yt_videoid }}">
            </iframe>
        </div>
    </body>
</html>
